.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  // @include mobile {
  //   max-width: 320px;
  // }
  // @include tablet {
  //   max-width: 768px;
  // }
}

.header-nav {
  display: none;
  @include tablet {
    display: flex;
  }
}

.header__wrap {
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}

.header-page {
  padding: 0;
  display: flex;
  align-items: center;
  @include desktop {
    margin-left: 93px;
  }
}

.header-contact {
  padding: 0;
  // display: flex;
  display: none;
  align-items: center;

  @include tablet {
    display: block;
    margin-top: 21px;
    margin-right: 15px;
  }
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-top: 0;
  }
}

.header-page__list:not(:last-child) {
  margin-right: 50px;
}

.header-page__link {
  position: relative;
  font-weight: var(--third-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  padding: 32px 0;
  align-items: stretch;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: -1px;
  &:focus,
  &:hover {
    color: var(--second-basic-color);
  }
}

.header-page__link--visited {
  color: var(--second-basic-color);
  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--second-basic-color);
    border-radius: 2px;
  }
}

.header-contact__item {
  font-weight: var(--third-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--second-basic-color);
  }
}

@media screen and(max-width:1199px) {
  .header-page__contact + .header-page__contact {
    @include tablet {
      margin-top: 10px;
    }
  }
}
.header-page__contact {
  @include desktop {
    & + & {
      margin-left: 30px;
    }
  }
}

.header-contact__icon {
  margin-right: 8px;
  .header-contact__item & {
    fill: currentColor;
  }
  .header-contact__item:focus & {
    fill: currentColor;
  }

  .header-contact__item:hover & {
    fill: currentColor;
  }
  @include desktop {
    margin-right: 10px;
  }
}
