:root {
    --basic-color: #212121;
    --second-basic-color: #2196f3;
    --third-basic-color: #ffffff;
    --basic-font-weight: 700;
    --secondary-font-weight:400;
    --third-font-weight:500;
    --typical-gap: 30px;
    --basic-font:"Roboto", sans-serif;
  }
